@CHARSET "UTF-8";

body {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

header { 
	padding: 1em 0em 2em 0em;
	border: solid gray 0.1em;
	border-width: 0em 0em 0.1em 0em;
	text-align: center;
}

header input {
	width: 20em;
}

main {
	padding: 1em;
}

table {
	margin-top: 5em;
	margin-left: auto;
	margin-right: auto;
}

li {
	color: #4d4d4d;
}

h3 {
	text-align: center;
}

fieldset>* {
	margin-bottom: 1em;
}

.keyphrase {
	font-weight: bold;
}

.possibleSpam {
	color: #cc0000;
}
